.icon_X {
  background-image: url("../img/X-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon_burger {
  background-image: url("../img/header__icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon_call {
  background-image: url("../img/call-link__icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon_write {
  background-image: url("../img/write-link__icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon_contacts {
  background-image: url("../img/contacts-link__icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon_request {
  background-image: url("../img/request-link__icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon_status {
  background-image: url("../img/status-link__icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon_search {
  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
