.menu-container {
  position: absolute;
  display: flex;
  line-height: 24px;
  z-index: 3;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 16px;
  color: #1b1c21;
  top: 0;
  left: 0;
  height: 100vh;
  min-height: 700px;
  width: 100vw;
  padding: 24px 24px 32px;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
  background-color: $secondary-background;
  transition: 0.8s;
  transition-property: transform;
  transform: translateX(-120%);
}

.menu-container__header {
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-container__button-X {
  margin-right: 17px;
  padding: 0;
}

.manu-container__logo {
  margin-top: -5px;
}

.menu-container__button-2 {
  margin-left: auto;
}

.menu-container__nav-block {
  margin: 15px 0 0 0;
}

.menu-container__ul {
  list-style: none;
  padding: 0;
}

.menu-container-item {
  font-family: "TTLakes-bold", serif;
  font-size: 16px;
  margin-bottom: 24px;
  position: relative;
}

.menu-container__footer-block {
  margin-top: auto;
}

.menu-container__footer-buttons {
  display: flex;
}

.menu-container__bottom-button {
  margin-right: 16px;
}

.menu-container__tel,
.menu-container__mail {
  margin-top: 16px;
  display: block;
}

.menu-container__tel {
  font-family: "TTLakes-bold", serif;
  line-height: 32px;
  font-size: 24px;
}

.menu-container__lang-box {
  margin-top: 8px;
}

.main-container__lang-box a:first-child {
  color: #7e7e82;
}

.menu-container-item::before {
  content: "";
  background-image: url("../img/highlighter.svg");
  height: 32px;
  width: 4px;
  left: 0;
  position: absolute;
  vertical-align: center;
  transform: translate(-4px, -5px) scale(0);
  transition-duration: 300ms;
  opacity: 0;
}

.menu-container-item:hover.menu-container-item::before {
  transform: translate(-24px, -5px);
  opacity: 1;
}

.menu-container a:hover {
  color: #7e7e82;
}

.menu-container__rus {
  color: #7e7e82;
}

.menu-container_show {
  transform: translateX(0%);
}

@media (min-width: 768px) {
  .menu-container {
    width: 320px;
  }
}

@media (min-width: 1440px) {
  .menu-container {
    transform: none;
    box-shadow: none;
    position: absolute;
    height: 100%;
  }
  .menu-container .menu-container__button-X {
    display: none;
  }
  .menu-container__footer-block {
    margin-top: 250px;
  }
}
