.modal-feed__container {
  position: absolute;
  visibility: hidden;
  z-index: 5;
  background-color: $secondary-background;
  min-height: 700px;
  padding: 16px 24px;
  height: 100vh;
  width: 100%;
  transition: 0.8s;
  transition-property: transform, visibility;
  transform: translateY(-100%);
}

.modal-feed__button-X {
  margin-bottom: 40px;
}

.modal-feed__header {
  position: relative;
  margin-top: 0;
  margin-bottom: 24px;
  margin-left: -24px;
  padding-left: 24px;
}

.modal-feed__header::before {
  content: "";
  position: absolute;
  left: 0;
  background-image: url("../img/highlighter.svg");
  width: 4px;
  height: 40px;
}

.modal-feed__form input {
  margin: 0 0 16px 0;
  width: 100%;
  height: 48px;
  padding: 12px 16px;
}

.modal-feed__text-area {
  height: 118px;
  width: 100%;
  padding: 12px 16px;
  resize: none;
}

.modal-feed__link {
  color: $buttons-background;
}

.modal-feed__submit {
  position: relative;
  width: 119px;
  height: 32px;
  margin-top: 27px;
  cursor: pointer;
  background-color: $buttons-background;
  transition: 0.5s;
  transition-property: background-color;
  outline: none;
  border: none;
  border-radius: 16px;
  padding-left: 12px;
  float: right;
}

.modal-feed__submit::after {
  content: "";
  position: absolute;
  background-image: url("../img/dropdown.svg");
  background-size: 7px 9px;
  top: 50%;
  right: 11px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  width: 7px;
  height: 8px;
}

.modal-feed__submit-text {
  margin: 0px;
  text-align: left;
  font-size: 12px;
  line-height: 24px;
  color: $secondary-background;
}

@media (min-width: 1440px) {
  .modal-feed__container {
    padding: 40px 30px 30px 40px;
    position: fixed;
    right: 0;
    width: 440px;
  }
  .modal-feed__button-X {
    position: absolute;
    left: -72px;
  }
  .modal-feed__header {
    margin-left: -40px;
  }
}

.modal-feed__container_show {
  visibility: visible;
  transform: translateY(0%);
}
